@import "~bootstrap-reboot";

html {
    scroll-behavior: smooth;
}

body {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.title-header {
    font-family: joschmi, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fa-bars {
    color: blue;
}

/* .matt-text {
    font-family: franklin-gothic-urw, sans-serif;

    font-weight: 300;

    font-style: normal;
} */

.hero-name {
    font-size: 10rem;
    padding-top: 3rem;
}

.matt-hero {
    max-width: 75%;
    width: auto;
    height: auto;
    padding-left: 15rem;

}

.matt-subHero {
    max-width: 75rem;
    width: auto;
    padding-left: 5rem;
}

.AtlasLegs {
    max-width: 75%;

}

.aboutCont {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.row-padding {
    padding-top: 1rem;
}


.about-text {
    font-size: 4rem;

}

.test {
    background-color: aqua;
    padding-top: 2%;
    padding-bottom: 5%;
}

.test2 {
    padding-top: 2%;
    padding-bottom: 5%;
}

.carousel-item img {
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
}

.about_card {
    max-width: 100%;
}

.project-card {
    max-height: 45rem;
    max-width: 35rem;
}

/* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */

.carousel-control-prev-icon {
    background-image: url("resources/icons/chevron-left-duotone.svg");
}

.carousel-control-next-icon {
    background-image: url("resources/icons/chevron-right-duotone.svg");
}

.lead {
    margin-left: 30px;
}




/* JumboTron */
.jumbotron {
    color: black;
    background-color: #FFFFFF;
    /* background-image: url("resources/images/1920x1280.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumboMain {
    background-image: url("resources/images/MattCut.png");
    height: 70rem;
}

.jumboSecond {
    background-image: url("resources/images/640.jpg");
}


/* CONTACT FORM */

.fa-rocket-launch {
    color: blue;
}

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}



.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    margin-top: 7%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;

}


/*FOOTER*/

footer {
    background: rgb(0, 8, 249);
    background: -webkit-linear-gradient(59deg, rgb(7, 143, 211), rgb(115, 192, 244));
    background: linear-gradient(59deg, rgb(171, 171, 171), rgb(32, 82, 208));
    color: white;
    margin-top: 100px;
}

footer a {
    color: rgb(33, 33, 33);
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */


.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 27px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    -ms--transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-transition: all 6s;
    -moz-transition: all 6s;
    -o-transition: all 6s;
    -ms-transition: all 6s;
    transition: all 6s;
}

.social-circle i {
    color: #0000ffbb;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    -ms-transition: all 3s;
    transition: all 3s;
}

.social-network a {
    background-color: #F9F9F9;
}

/* SMOOTH SCROLL */

/* .module {
    scroll-behavior: [ auto | smooth];
} */

.scrolling-box {
    /* background-color: #eaeaea; */
    /* display: block; */
    /* height: 200px; */
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    /* text-align: center; */
    /* width: 200px; */
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}